!###################
! Colors
!###################
*background: black
*foreground: white



!###################
! URxvt Settings
!###################
URxvt.font: oft.Hermit Light:size=14
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.saveLine: 2048
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false


