Xft.dpi:   96 
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintmedium

!###################
! Colors
!###################
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

!###################
! URxvt Settings
!###################
URxvt.termName: rxvt

URxvt.font: xft:Fira Code:style=Light:size=12
URxvt.boldfont: xft:Fira Code:style=Medium:size=12
URxvt.italicfont: xft:Fira Code:style=Light:italic:size=12
URxvt.bolditalicfont: xft:Fira Code:style=Medium:italic:size=12

!URxvt*font: xft:Fira Code:style=Light:size=12

URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.saveLine: 2048
URxvt.urgentOnBell: true
URxvt.depth: 32

! Underlined and clickable URLs
URxvt.urlLauncher: firefox 
URxvt.matcher.button: 1

! Resize font size
URxvt.resize-font.smaller: <C-Up>
URxvt.resize-font.bigger: <C-Down>
!URxvt.resize-font.reset: C-equal
!URxvt.resize-font.show: C-question

URxvt.iso14755: false
URxvt.iso14755_52: false
